html, body {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
a.cyan-text:hover {
  color:#AAA !important;
}
li {
  list-style: none;
  margin-bottom: 0.5em;
}

.issue-section {
  margin-right: 1em;
}
.issue-section i {
  margin-right: 0.5em;
}

.main-ticket-view {
  /*overflow: auto;*/
  max-height: 100vh;
}

.login-bar {
  background-color: #4dd0e1;
  color: white;
  padding: 3em 1em;
  height: auto;
}

.login-bar a {
  color: white;
  vertical-align: bottom;
  display: block;
}

.login-bar > div {
  display: inline-block;
  vertical-align: top;
}

.login-logo {
  font-size: 2.5em;
  text-align: center;
  width: 28%;
}

.login-logo svg {
  vertical-align: bottom;
}

.tagline {
  padding: 0.5em;
  font-size: 1.5em;
  width: 70%;
}

.login-bar button {
  border: none;
  font-size: 1.25rem;
  background-color: #00838f;
  padding: 0.5em 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.login-bar button:hover {
  background-color: #00bcd4;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
  font-size: 2.1rem;
}

.nav-logo span {
  vertical-align: top;
}
.user-issue > div {
  margin: 0.5em auto;
}

.issue-title {
  font-size: 1.2rem;
}
.issue-label {
  display: inline-block;
  border-radius: 10px;
  padding: 0.1em 0.5em;
  margin-right:0.25em;
}
.label-dot {
  display: inline-block;
  border-radius: 100%;
  width:0.8em;
  height:0.8em;
}

.fork-button span::before {
  font-size: 2em;
}
.fork-button span {
  display: block;
}
.fork-button, .fork-button span::before {
  display: block;
  color : #00e676;

}

.fork-button, .fork-button span::before, .delete-icon, .clickable {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
}

.fork-button:hover, .fork-button:hover span::before {
  color: #69f0ae;
}
.fork-button:hover, .fork-button:hover span::before, .delete-icon:hover, .clickable:hover {
  text-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}
.fork-button.disabled {
  color: #9e9e9e;
  text-shadow:none;
}
.card-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

.delete-icon:hover {
  color:#84ffff;
}
.delete-icon, .delete-icon:active {
  color:#00bcd4;
}

.collapsible-header:hover {
  color:grey;
}
.closeButton--jss-0-1 {
  left:auto !important;
  right:10px !important;
  top: 10px !important;
}
.error {
  background-color: #EEE;
  border-radius: 3px;
  padding:0.5em 1em;
}
.inline-title {
  font-size: 2em;
  vertical-align: top;
  margin: 0 1em;
}
.issue-desc {
  clear:both;
}
.clickable {
  cursor: pointer;
  color: #78909c;
}
.clickable:before {
  font-size: 1.25em;
}
.clickable:hover {
  color: #00bcd4;
}

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */

 background-color: black;
 color:#CCC;

 border-radius: 3px;
 padding: 0.25em 0.5em;
}


.anim-box {
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    top: 300;
  }
  
  @keyframes bounce {
    0% {
      transform: translate(0px, 300px);
    }
    50% {
      transform: translate(0px, 30px);
    }
    100% {
      transform: translate(0px, 300px);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg) scale(1, 0.75);
    }
    15% {
      transform: rotate(0deg) scale(1, 1);
    }
    85% {
      transform: rotate(720deg) scale(1, 1);
    }
    100% {
      transform: rotate(720deg) scale(1, 0.75);
    }
  }

    @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    15% {
      transform: rotate(0deg);
    }
    85% {
      transform: rotate(720deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  
  .anim-box img {
    position:relative;
    animation: bounce 1s ease-in-out infinite alternate, spin 1s cubic-bezier(.25, 0, .75, 1) infinite alternate;
    height: 100px;
  }

  .small-loader {
    height: auto;
  }
  .small-loader svg {
    animation:spin2 1s cubic-bezier(.25, 0, .75, 1) infinite;
  }

@media (max-width: 800px) {
  .login-bar > div {
    width: 100%;
  }
  .login-logo {
    margin-bottom: 1em;
  }
  .login-logo button {
    margin-left: 1em;
  }
  .login-bar a {
    display: inline;
  }
}

@media (max-width: 992px) {
  .nav-logo {
    float: right;
  }
}
