/*body {
  background-color: #DFDAC8;
  color: #3B5A91;
}*/
.main-ticket-view {
   overflow: auto; 
   max-height: 100vh;
}

.login-bar {
  background-color: #5e35b1;
  padding: 0.4em;
  color: white;
  font-size: 1.5em;
}
